body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  background-color: darkkhaki;
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: column;
  margin: 30px;
}

header {
  font-size: 3em;
  font-weight: 900;
  background-color: darkolivegreen;
  align-items: center;
}

.webpage-title {
  font-size: 1em;
}

img{
  width: 10em;
}

h1{
  font-size: 2em;
}

ul article{
  font-size: 2em;
}

